analysis==0.1.7
asgiref==3.8.1
asttokens==2.4.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
cryptography==44.0.1
debugpy==1.8.7
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.2
django-allauth==65.4.1
django-debug-toolbar==5.0.1
django-extensions==3.2.3
django-ranged-response==0.2.0
django-simple-captcha==0.6.2
executing==2.1.0
idna==3.10
ipython==8.29.0
jedi==0.19.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
oauthlib==3.2.2
parso==0.8.4
pathlib==1.0.1
pillow==11.1.0
prompt_toolkit==3.0.48
psycopg==3.2.5
psycopg-binary==3.2.5
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
PyJWT==2.10.1
pyOpenSSL==25.0.0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
social-auth-app-django==5.4.3
social-auth-core==4.5.6
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
transliterate==1.10.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wcwidth==0.2.13
Werkzeug==3.1.3
